.attestation {
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.attest {
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;

  &__txt {
    text-align: center;
    font-style: italic;
  }

  &__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;

  }

  &__name {
    padding-top: 1rem;
  }
}